parameters:
    level: 1
    paths:
        - Command
        - DataCollector
        - DependencyInjection
        - Event
        - MemoryChecker
        - Provider
        - RabbitMq
        - Resources
        - OldSoundRabbitMqBundle.php